<div class="player-ctn-left">
  <div>
    @if (videoUrl) {
      <app-video-player *ngIf="videoUrl" [videoUrl]="videoUrl"/>
    }
  </div>

  <section>
    <h2>{{ title }}</h2>
    <p>{{ description }}</p>
    <ul>
      <li *ngFor="let tag of tags">{{ tag }}</li>
    </ul>
    <p>{{ viewCount }} views</p>

    <p>{{ likes }} likes</p>
    @if (isvideoLiked == false) {
      <button (click)="likeVideo()">Like</button>  
    } @else {
      <button (click)="likeVideo()">Liked</button>
    }
    
  </section>  
</div>

<aside class="sidebar-right">
  <p>Other videos</p>
</aside>