/* You can add global styles to this file, and also import other style files */

:root {
  --max-width: 1080px;
  --max-width-form: 700px;

  --bg-color: hsl(320, 50%, 97%)
}

* {
  box-sizing: border-box;
}

html, body { 
  height: 100%; 
}

body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: var(--bg-color);
}

mat-form-field, input, button, label {
  display: block;
}