<div class="mainContainer">
<form class="video-details-left-side" [formGroup]="saveVideoDetailsForm">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput required="" formControlName="title">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput required="" formControlName="description">
  </mat-form-field>

  <mat-form-field>
    <mat-label>Status</mat-label>
    <mat-select formControlName="videoStatus">
      <mat-option value="PUBLIC">Public</mat-option>
      <mat-option value="PRIVATE">Private</mat-option>
      <mat-option value="UNLISTED">Unlisted</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-chip-list">
    <mat-label>Tags</mat-label>
    <mat-chip-grid #chipGrid aria-label="Enter tags">
      @for (tag of tags; track tag) {
        <mat-chip-row
          (removed)="remove(tag)"
          [editable]="true"
          (edited)="edit(tag, $event)"
          [aria-description]="'press enter to edit ' + tag">
          {{tag}}
          <button matChipRemove [attr.aria-label]="'remove ' + tag">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
      }
      <input placeholder="New tag..."
            [matChipInputFor]="chipGrid"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"/>
    </mat-chip-grid>
  </mat-form-field>

  <button type="submit" mat-flat-button color="primary" (click)="saveDetails()">
    Save details
  </button>
</form>

<div class="video-details-right-side">
  <div class="thumbnail-form">
    <label>Thumbnail</label>
    <input type="file" (change)="onFileSelected($event)">
    <button type="button" mat-flat-button (click)="uploadThumbnail()">
      Save thumbnail
    </button>
  </div>

  <app-video-player [videoUrl]="videoUrl" />
</div>
</div>